<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/quizlayout.css}">

<head>
	<meta charset="UTF-8">
	<title>管理者ログイン</title>
</head>

<body class="admin">


	<div class="adminlogin-wrapper">
		<form action="/admin/login" method="post">
			<h1>管理者ログイン</h1>
			<label for="username">ユーザー名：</label>
			<input type="text" id="username" name="username" required pattern="[a-zA-Z0-9]+" title="半角英数字のみで入力してください">

			<br>

			<label for="password">パスワード：</label>
			<input type="password" id="password" name="password" required pattern="[a-zA-Z0-9]{4,}"
				title="半角英数字で4文字以上入力してください">

			<br><br>

			<button type="submit">ログイン</button>
		</form>

		<p th:if="${loginError}" style="color: red;">ユーザー名またはパスワードが正しくありません</p>

		<form action="/home" method="get" style="margin-top: 20px;">
			<button type="submit" class="home-btn">ホームへ戻る</button>
		</form>
	</div>
</body>

</html>